/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --h1-color: #db00ff;
  --h2-color: #ff0070;
  --decor-color: #ff0070;
  --hover-color: rgb(255 0 112 / 0.4);
  --main-color: #000028;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --color-content: #f1b2ce;
}

.theme-dark .rec-icon {
  display: flex;
  gap: 10px;
  position: absolute;
  margin-inline: 10px;
  right: 10px;
  top: 10px;
}

.theme-dark .rec-icon::before {
  content: 'REC';
  font-size: var(--main-text-size);
  color: var(--accent-color);
  font-family: var(--main-font);
}

.theme-dark .rec-icon::after {
  content: ' ';
  align-self: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

@media (width >= 768px) {

  .theme-dark .rec-icon {
    right: 20px;
    top: 20px;
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --accent-color: #ff0070;
    --h1-color: #db00ff;
    --h2-color: #ff0070;
    --decor-color: #ff0070;
    --hover-color: rgb(255 0 112 / 0.4);
    --main-color: #000028;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --color-content: #f1b2ce;
  }
}
